:root {
	--main-grey: #566262;
	--orange: #F76922;
	--dark-blue: #262B67;
	--light-blue: #007CAD;
	--green: #57A278;
	--light-green: #E0EBE5;
	--grey-green: #6FA088;
	--dark-pink: #B82353;
	--white: #fff;
}

body {
	font-size: 16px;
	font-weight: 400;
	font-family: 'nunito-sans', 'Nunito Sans', sans-serif;
	color: var(--main-grey);
	background: #ffffff;
	letter-spacing: 0;
	line-height: 22px;
}

p, UL LI, UL LI LI, UL LI LI LI, OL LI, OL OL LI, OL OL OL LI, OL UL LI, td {
	font-size: 16px;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;  
}
.sub_container {
	position: relative;
	width: 100%;
	max-width: 846px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;  
}
.column,
.columns {
	width: 100%;
	float: left;
	box-sizing: border-box; 
}

/* For devices larger than 400px */
@media (min-width: 400px) {
	.container, .sub_container {
		width: 85%;
		padding: 0; 
	}
}

@media (max-width: 768px) {
	.container, .sub_container {
         padding: 0 20px;
	}
}

/* For devices larger than 550px */
@media (min-width: 768px) {
	.container, .sub_container {
    	width: 100%;
	}
	
	.column,
	.columns {
		margin-left: 2%; 
	}
	
	.column:first-child,
	.columns:first-child {
    	margin-left: 0; 
	}

	.one.column,
	.one.columns                    { width: 4.66666666667%; }
	.two.columns                    { width: 14%; }
	.three.columns                  { width: 22%;            }
	.four.columns                   { width: 31.7666666669%; }
	.five.columns                   { width: 39.3333333333%; }
	.six.columns                    { width: 49%;            }
	.seven.columns                  { width: 56.6666666667%; }
	.eight.columns                  { width: 65.3333333333%; }
	.nine.columns                   { width: 74.0%;          }
	.ten.columns                    { width: 82.6666666667%; }
	.eleven.columns                 { width: 91.3333333333%; }
	.twelve.columns                 { width: 100%; margin-left: 0; }

	.one-third.column               { width: 30.6666666667%; }
	.two-thirds.column              { width: 65.3333333333%; }

	.one-half.column                { width: 48%; }

  /* Offsets */
	.offset-by-one.column,
	.offset-by-one.columns          { margin-left: 8.66666666667%; }
	.offset-by-two.column,
	.offset-by-two.columns          { margin-left: 17.3333333333%; }
	.offset-by-three.column,
	.offset-by-three.columns        { margin-left: 26%;            }
	.offset-by-four.column,
	.offset-by-four.columns         { margin-left: 34.6666666667%; }
	.offset-by-five.column,
	.offset-by-five.columns         { margin-left: 43.3333333333%; }
	.offset-by-six.column,
	.offset-by-six.columns          { margin-left: 52%;            }
	.offset-by-seven.column,
	.offset-by-seven.columns        { margin-left: 60.6666666667%; }
	.offset-by-eight.column,
	.offset-by-eight.columns        { margin-left: 69.3333333333%; }
	.offset-by-nine.column,
	.offset-by-nine.columns         { margin-left: 78.0%;          }
	.offset-by-ten.column,
	.offset-by-ten.columns          { margin-left: 86.6666666667%; }
	.offset-by-eleven.column,
	.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

	.offset-by-one-third.column,
	.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
	.offset-by-two-thirds.column,
	.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

	.offset-by-one-half.column,
	.offset-by-one-half.columns     { margin-left: 52%; }

}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	font-family: 'nunito-sans', 'Nunito Sans', sans-serif;
}

p {
	margin-top: 0; 
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a, a:link, a:visited {
  	color: var(--orange);
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	color: var(--orange);
	text-decoration: underline;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: outside; 
 }

ol {
	list-style: decimal outside; 
}

ol, ul {
	padding-left: 0;
	margin-top: 0;
	margin-left: 2rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: .5rem 0 .5rem 2rem;
	font-size: 90%; 
}

li {
	margin-bottom: 5px;
}

.cms-page .page-content ul li::marker {
    color: var(--green);
}

/*
.cms-page .page-content ul.nav-tabs>li::before, 
.cms-page-my-profile .page-content ul li::before, 
.wizard-table ul.steps li::before, 
.wizard-table ul.sub-categories-ul li::before {
     content: none;
}
*/

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
	width: 100%;
	box-sizing: border-box; 
}
.u-max-full-width, .img-responsive {
	max-width: 100%;
	box-sizing: border-box; 
}
.u-pull-right {
	float: right; 
}
.u-pull-left {
	float: left; 
}
.object-fit-cover {
	width: 100%;
	height: 100%;
	object-fit: cover; /*magic*/
}

/* DNN Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
    position: relative !important;
	z-index: 90 !important;
}

#body_content {
    margin-top: 0 !important;
}

#header .col-md-3, #header .col-md-9 {
	padding: 0;
}

#page_title {
    margin-bottom: 0px;
}

#page_title h1 {
    font-weight: 400 !important;
}

.footer_bottom_links span.green, .address span.green {
    background-color: inherit !important;
    border-color: inherit !important;
}

.footer_logo {
    margin: 0 auto 35px;
}

a.social_media, a.social_media:link, a.social_media:visited, a.social_media:active {
    border-radius: 50% !important;
    padding: 0 !important;
    line-height: 52px;
    text-align: center;
}

.social_media_links i {
	font-size: 20px;
}

.footer_link i {
	display: none;
}

.footer_link:hover i {
	display: inline-block;
    margin-left: 20px;
}

.footer_quick_links a.footer_link:after {
    content: none;
}

/* Impexium Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav>li>a {
    color: var(--main-grey);
}

#main_pnlSiteTemplateFooter.col-md-12, #main_pnlSiteTemplateHeader.col-md-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.page-sidebar {
 /*   margin-top: 318px;*/
    margin-top: 0;
}

ul.page-sidebar-menu > li.active > a, ul.page-sidebar-menu > li.active > span > a {
    background: var(--orange) !important;
}

ul.page-sidebar-menu > li.active > a .selected, ul.page-sidebar-menu > li.active > span > a .selected {
    background-image: none !important;
}

.form-wizard .steps {
    height: auto;
}

.login-container h3 {
    margin-top: 15px;
}

.login-form a.login-help {
    margin-top: 0px; 
}

.login .content label { color: #000000 !important; }
.login .content p, .login .content label {
    color: #000000 !important;
	font-size: 16px !important;
}
.login .content h3 {
    color: #000000 !important;
	font-style: normal;
	font-size: 18px;
	font-weight: 700 !important;
}
.login .content h4 {
    color: #000000 !important;
	text-transform: none;
	font-size: 18px;
	font-weight: 700 !important;
}

#main_content_Login_LoginPanel a, #main_content_Login_ForgotPasswordPanel a, #main_content_Login_CreateUserForm_lnkSignupGoToLogin {
    color: var(--orange) !important;
}

#main_content_Login_ForgotPasswordPanel.forgot-form, #main_content_Login_SignupPanel.register-form {
    background-color: #ffffff !important;
} 

#main_content_Login_LoginPanel h3.form-title {
	font-style: normal;
	font-size: 18px;
	font-weight: 700 !important;
}

#main_content_Login_LoginPanel .btn.green, #main_content_Login_ForgotPasswordPanel .btn.green, #main_content_Login_SignupPanel .btn.green{
    background-color: #fff !important;
    padding: 15px 35px;
    color: var(--main-grey) !important;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700 !important;
    font-family: 'nunito-sans', 'Nunito Sans', sans-serif;
    border-radius: 40px !important;
    border: 1.5px solid #919C9C !important;
}

#main_content_Login_LoginPanel .btn.green:hover, #main_content_Login_ForgotPasswordPanel .btn.green:hover, #main_content_Login_SignupPanel .btn.green:hover {
    background-color: #fff  !important;
    text-decoration: none;
	 color: var(--orange) !important;
	border: 1.5px solid var(--orange) !important;
}

.backstretch {
    display: none !important;
}

.login {
    background-color: #fff !important;
}

.login .logo {
    height: auto;
    max-width: 450px;
    margin-top: 0;
}

.login .content, .body-signup.login .content, .body-signup .login-container {
    width: auto !important;
}

.login .content .login-form, .login .content .forgot-form, .login .content .register-form {
    padding: 20px 0px 15px 0px;
    margin-bottom: 15px;
}

/*
#main_content_Login_pnlLogin .btn.green, 
#main_content_Login_pnlLogin .btn.green:hover, 
#main_content_Login_pnlLogin .btn.green:focus, 
#main_content_Login_pnlLogin .btn.green:active, 
#main_content_Login_pnlLogin .btn.green.active, 
#main_content_Login_ForgotPasswordPanel .btn.green,
#main_content_Login_ForgotPasswordPanel .btn.green:hover, 
#main_content_Login_ForgotPasswordPanel .btn.green:focus, 
#main_content_Login_ForgotPasswordPanel .btn.green:active, 
#main_content_Login_ForgotPasswordPanel .btn.green.active, 
#main_content_Login_CreateUserForm_lnkSignupButton.btn.green,
#main_content_Login_CreateUserForm_lnkSignupButton.btn.green:hover, 
#main_content_Login_CreateUserForm_lnkSignupButton.btn.green:focus, 
#main_content_Login_CreateUserForm_lnkSignupButton.btn.green:active {
    background-color: #007498 !important;
}
*/
 
.login-form a.login-help i, .login-form a.forgot-password-help i {
    color: var(--orange);
}

.tooltip-label-icon {
    color: var(--orange);
}

.forgot-password h4 {
    font-weight: 400 !important;
}

.btn.blue {
    border: none;
    /*background-color: #007582;*/
}

/*
.btn.green, .btn.green:hover {
  background-color: #007498 !important;
}
*/

.btn.default {
  background-color: #4d90fe;
}

.btn.default:hover {
  background-color: #4d90fe !important;
}

.start, a.start, span.title {
    text-transform: none !important;
}

.page-sidebar ul > li > a > .arrow::before, .page-sidebar ul > li > span > a > .arrow::before, .control-label.required::after {
    font-weight: 900 !important;
}

.tabbable-custom .nav-tabs>li.active {
    border-top: 3px solid var(--orange);
}

.tile {
    font-size: 13px;
}
.tile .tile-body > i {
    margin-top: 0px;
}

.tile .tile-object {
    min-height: 50px;
}

.bg-accent-cobalt {
    background-color: var(--orange) !important;
    color: #fff !important;
}

.tile:hover {
    border-color: var(--orange) !important;
}

#main_footer {
	display: none;
}